
body {
    background-color: #000000;
    max-width: 1440px;
    width: 100%;
    
}



main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    min-width: 320px;
    width: 100%;
    margin: 20px;
}



.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  justify-content: space-between;
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 9px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 78px;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22.4px;
  color: #FFFFFF;
  text-decoration: none;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  margin: 20px;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#burger-menu {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
 
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#burger-menu:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#burger-menu:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}




@media (max-width: 720px) {
  .menu-button-container {
    display: flex;
    position: absolute;
    right: 0;
    margin: 40px;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #burger-menu ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #burger-menu:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    align-items: center;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;

  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #4d4949;
  background-color: #FFFFFF;
  opacity: 60%;
  border-radius: 5px;
  
}

.container-content{
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    min-width: 320px;
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .container-content {
      display: flex;
      justify-content: center;
    }
  } 

  @media screen and (min-width: 720px) and (max-width: 1440px) {
    .container-content {
        display: flex;
        justify-content: center;
    }
  } 

.main-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 50%;  
    display: inline-block;  
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .main-box {
      display: flex;
      align-items: center;
    }
  } 

  @media screen and (min-width: 720px) and (max-width: 1440px) {
    .main-box {
        display: flex;
        align-items: center;
    }
  } 

.header {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 84px;
    line-height: 102px;
    letter-spacing: -2px;
    color: #FFFFFF;
    margin-left: 20px;
}

@media screen and (min-width: 720px) and (max-width: 1440px) {
    .header {
      font-size: 84px;
    }
  } 

  @media screen and (min-width: 720px) and (max-width: 1440px) {
    .header {
      font-size: 72px;
    }
  } 

  
  @media screen and (min-width: 320px) and (max-width: 720px) {
    .header {
      font-size: 36px;
    }
  } 


.info {
    font-family: "Source Sans 3", sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
    margin-top: 23px;
    margin-left: 20px;
    
}



@media screen and (min-width: 720px) and (max-width: 1440px) {
    .info {
      font-size: 22px;
      width: 410px;
    }
  } 

  @media screen and (min-width: 720px) and (max-width: 1440px) {
    .info {
      font-size: 22px;
      text-align: center;
      line-height: 33px;
      width: 574px;
    }
  } 

  
  @media screen and (min-width: 320px) and (max-width: 720px) {
    .info {
      font-size: 12px;
      display: flex;
      text-align: center;
      line-height: 18px;
      width: 211px;
      height: 49px;
    }
  } 


  .image-box {
    display: flex;
    justify-content: center;
    display: inline-block; 
   
  
}

img {
    max-width: 100%;

}